## Ignore Visual Studio temporary files, build results, and
## user-specific files

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Uncomment if using nbgv
# version.json

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS
$tf/

# Visual Studio Code
.vscode/

# Others
*.dbmdl
*.bak
*.backup
*.cache
*.orig

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS for Mac
.vscode/
.idea/
*.sln.iml

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
.packages/
packages/
**/packages/*/tools/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# dotCover
*.dotCover

# Azure DevOps
.vspscc
.vssscc

# Visual Studio working folder
.vs/

# Local test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# MSTest test Results
TestResults/

# NCrunch
.ncrunch*
*.ncrunchproject

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# JetBrains Rider
.idea/

# Backup & report files from converting an old project file
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML

# DotCover
.idea/.idea.DotSettings
*.dotCover
